.l-nav-bar {
  position: sticky;
  top: 0;
  z-index: map-get($z-index, nav-bar);
  display: block;
  width: 100vw;
  height: 94px;
  background-color: #fff;
  @include box-shadow;

  @include mq() {
    position: relative;
  }
}
