@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$font-sizes: (
  small: 1.4rem,
  medium: 1.6rem,
  mid-large: 1.8rem,
  large: 2.4rem,
  xlarge: 2.8rem,
  xxlarge: 3.2rem,
);
