@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
}

section {
  overflow: hidden;
}

h1 {
  margin: auto;
  font-size: 2.4rem;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
}

h3 {
  font-size: 2.8rem;
  text-align: center;
}

p {
  font-size: 1.6rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

label {
  font-size: 1.6rem;
}

input[type=text] {
  font-size: 1.6rem;
}

input[type=checkbox] {
  display: none;
}

textarea {
  font-size: 1.6rem;
}

.l-blog-section {
  padding: 60px 70px;
}

.l-catch-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 160px calc((100vw - 980px) / 2);
}

.l-contact-section {
  padding: 70px calc((100vw - 980px) / 2);
  background: linear-gradient(to right, #05a5fa, #63fbd7);
}

.l-feature-section {
  padding: 70px calc((100vw - 980px) / 2) 150px calc((100vw - 980px) / 2);
}

footer.l-footer {
  padding: 45px calc((100vw - 980px) / 2);
}

.l-nav-bar {
  display: block;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 94px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.l-price-section {
  padding: 60px calc((100vw - 980px) / 2);
}

.l-question-section {
  padding: 60px calc((100vw - 980px) / 2);
}

.l-works-section {
  padding: 60px 0;
}

.c-answer {
  display: none;
  padding: 2rem 4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f2f2f2;
  line-height: 2;
}

.c-article-description {
  font-size: 1.8rem;
}

.c-background-circle {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  width: 46vw;
  height: 46vw;
  background: url("../images/楕円形 1.png") no-repeat;
  background-position: top -6.7365440327vw right -6.7365440327vw;
  background-size: cover;
}

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 37px;
  margin: 0;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.4rem;
}

.c-button:disabled {
  background: linear-gradient(to right, #fed7f4, #b082e8);
}

.c-catch-copy {
  font-size: 3.2rem;
}

.c-checkbox-label {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: auto;
  padding: 5px 30px;
  cursor: pointer;
}

.c-checkbox-label::before {
  display: block;
  position: absolute;
  top: 50%;
  left: -3px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 1px solid #ccc;
  background: #fff;
  content: "";
}

.c-checkbox-label::after {
  -webkit-transform: rotate(45deg);
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 6px;
  height: 15px;
  margin-top: -11px;
  transform: rotate(45deg);
  border-right: 3px solid #0c449b;
  border-bottom: 3px solid #0c449b;
  content: "";
  opacity: 0;
}

input[type=checkbox]:checked + .c-checkbox-label::before {
  border-color: #707070;
}

input[type=checkbox]:checked + .c-checkbox-label::after {
  opacity: 1;
}

.c-complete-send {
  display: none;
  font-size: 1.6rem;
  text-align: center;
}

.c-contact-catch {
  margin-bottom: 44px;
  color: #fff;
  text-align: center;
}

.c-copyrights {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.c-false-send {
  display: none;
  font-size: 1.6rem;
  text-align: center;
}

.c-feature-catch {
  margin-bottom: 40px;
  font-size: 2.4rem;
  line-height: 2;
}

.c-feature-headline {
  margin-bottom: 60px;
}

.c-footer-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.c-form-label-text {
  margin-right: 24px;
}

#hamburger-btn {
  display: none;
  z-index: 90;
  position: fixed;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.bun,
.bun:before,
.bun:after {
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: rgba(179, 179, 179, 0.8);
  content: "";
}

.bun:before {
  bottom: 8px;
}

.bun:after {
  top: 8px;
}

.in-open .bun {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}
.in-open .bun::before {
  -webkit-transform: rotate(45deg);
  bottom: 0;
  transform: rotate(45deg);
}
.in-open .bun::after {
  -webkit-transform: rotate(-45deg);
  top: 0;
  transform: rotate(-45deg);
}
.c-item-image {
  width: 100%;
}

.c-logo {
  width: 47px;
  height: 47px;
  margin-right: 16px;
}

.c-nav-menu-item {
  margin: 2.3rem;
  font-size: 1.6rem;
}

.c-necessary-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #0c449b;
  color: #fff;
  font-size: 1.4rem;
}

.c-note {
  color: #444;
  font-size: 1.6rem;
  text-align: center;
}

.c-published-date {
  align-self: flex-end;
  font-size: 1.6rem;
}

.c-question {
  padding: 2rem 4rem;
  border: solid 0.1rem #e5e5e5;
  line-height: 2;
  text-align: center;
}

.c-scroll-link {
  text-decoration: none;
}

.c-sub-headline {
  margin-top: 10px;
  margin-bottom: 60px;
  color: #3ba6c9;
  font-size: 1.6rem;
  text-align: center;
}

.c-tab-menu-title {
  display: none;
  margin: 23px;
  text-decoration: underline;
}

.c-textarea {
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  margin-bottom: 25px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #eefbfb;
}

.c-textbox {
  box-sizing: border-box;
  width: 500px;
  max-width: 100%;
  height: 43px;
  margin-bottom: 25px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  background-color: #eefbfb;
}

.c-validation {
  color: #0c449b;
  font-size: 1.6rem;
}

.c-validation.valid {
  display: none;
}

.c-work-description {
  margin-bottom: 1.5em;
}

.c-work-info {
  font-size: 1.4rem;
}

.p-article-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.p-article-item {
  display: flex;
  width: calc((100% - 6rem) / 3);
}

.p-article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-articles-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.p-catch-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  margin: auto 0;
}

.p-contact-form {
  display: flex;
  flex-direction: column;
  padding: 32px 62px;
  background-color: #fff;
}

.p-feature-content {
  width: 50%;
}

.p-feature-inner-reverse {
  flex-direction: row-reverse;
}

.p-feature-inner, .p-feature-inner-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-feature-outer {
  margin-bottom: 90px;
}

.p-footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 380px;
  margin: 0 auto 50px;
  list-style: none;
}
.p-footer-menu-list li {
  font-size: 16px;
}
.p-form-label {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.p-form-privacy {
  margin-bottom: 30px;
  text-align: center;
}

.p-nav-menu-list {
  display: flex;
  list-style: none;
}

.p-nav-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 980px;
  height: 100%;
  margin: auto;
}

.p-nav-menu {
  -webkit-transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#nav-menu.hamburger-menu {
  -webkit-transform: none;
  display: flex;
  z-index: 80;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  transform: none;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.p-price-table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 1.6rem;
}
.p-price-table tr {
  height: 10rem;
}
.p-price-table tr:not(:last-child) {
  border-bottom: solid 0.1rem #e5e5e5;
}
.p-price-table th {
  width: 18em;
  padding: 3rem;
  border-right: solid 0.1rem #e5e5e5;
}
.p-price-table td {
  padding: 3rem;
}

.p-question-list {
  width: 100%;
  font-size: 1.4rem;
  list-style: none;
}

.p-title-container {
  display: flex;
}

.p-work-content {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px 18px 40px;
  border: solid 1px #ddd;
  border-top: none;
  border-radius: 0 0 7px 7px;
}

.p-work-item {
  display: flex;
  flex-direction: column;
  height: auto !important;
}

.p-works-container {
  width: 100%;
}

.u-overflow-hidden {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  padding: calc( var(--swiper-navigation-size) * (1.5 - 1) / 2 ) calc( var(--swiper-navigation-size) * (1.5 - 27 / 44) / 2 );
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.background-lightgreen {
  background-color: #eefbfb;
}

.font-white {
  color: #fff;
}

.align-self-center {
  align-self: center;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .l-blog-section {
    padding: 30px calc((100vw - 80%) / 2);
  }
  .l-catch-section {
    flex-direction: column;
    padding: 50px calc((100vw - 80%) / 2);
  }
  .l-contact-section {
    padding: 30px calc((100vw - 80%) / 2);
  }
  .l-feature-section {
    padding: 30px calc((100vw - 80%) / 2);
  }
  .l-nav-bar {
    position: relative;
  }
  .l-price-section {
    padding: 30px calc((100vw - 80%) / 2);
  }
  .l-question-section {
    padding: 30px calc((100vw - 80%) / 2);
  }
  #hamburger-btn {
    display: flex;
  }
  .c-nav-menu-item {
    font-size: 2.8rem;
  }
  .c-tab-menu-title {
    display: inline;
  }
  .p-article-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .p-articles-container {
    flex-direction: column;
  }
  .p-catch-content {
    width: 100%;
    margin-bottom: 50px;
  }
  .p-contact-form {
    padding: 32px 16px;
  }
  .p-feature-content {
    width: 100%;
  }
  .p-feature-inner, .p-feature-inner-reverse {
    flex-direction: column;
  }
  .p-image-container {
    width: 60%;
    margin-bottom: 20px;
  }
  .p-nav-menu-list {
    flex-direction: column;
    justify-content: center;
  }
  .p-nav-bar-inner {
    width: 80%;
  }
  .p-nav-menu {
    display: none;
  }
  .swiper-button-prev,
.swiper-button-next {
    display: none !important;
  }
  .u-tab-display-none {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */